Data Series

In [41]:
data_series = ['Mathematics', 'Statistics','Data Analytics','Data scinces']
import pandas as pd
series = pd.Series(data_series)
series.index

RangeIndex(start=0, stop=4, step=1)

which explain that data series starts from 0 and ends to 4 by incremant of 1.

In [42]:
series

0       Mathematics
1        Statistics
2    Data Analytics
3      Data scinces
dtype: object

#Date series with dictionary data type

In [43]:
data_dict = {'john': 31 , 'smith': 14, 'sam' : 23}
data_series2 = pd.Series(data_dict)
data_series2

john     31
sam      23
smith    14
dtype: int64

In [44]:
data_series2.index

Index(['john', 'sam', 'smith'], dtype='object')

So keys are index of the series.

In [45]:
#used iloc on index 
data_series2.iloc[2]

14

In [46]:
#loc on index value

In [47]:
data_series2.loc['sam']

23

In [48]:
#Adding values to series 
data_series2.loc['mac'] = 31

In [49]:
data_series2

john     31
sam      23
smith    14
mac      31
dtype: int64

Lets try to merge two data series

In [50]:
data_series3 = pd.Series([21, 31 ,35],index=['pan', 'sam2', 'piter'])
data_series_f = data_series2.append(data_series3)
data_series_f

john     31
sam      23
smith    14
mac      31
pan      21
sam2     31
piter    35
dtype: int64

    #Data Frame

In [51]:
data1 = pd.Series({'courses': 'mathematics', 'Number_of_required' : 12, 'Dept_prof_number': 15})
data2 = pd.Series({'courses': 'statistics', 'Number_of_required' : 11, 'Dept_prof_number': 9})
data3 = pd.Series({'courses': 'data_analytics', 'Number_of_required' : 15, 'Dept_prof_number': 12})

data = pd.DataFrame([data1,data2,data3], index = ['un1','un2','un3'])
data

     Dept_prof_number  Number_of_required         courses
un1                15                  12     mathematics
un2                 9                  11      statistics
un3                12                  15  data_analytics

In [52]:
#Loc and iloc in dataframe 
#we can use loc only if we have assigned index in dataframe 
data.loc['un1']

Dept_prof_number               15
Number_of_required             12
courses               mathematics
Name: un1, dtype: object

In [53]:
data.iloc[0]

Dept_prof_number               15
Number_of_required             12
courses               mathematics
Name: un1, dtype: object

In [54]:
data.iloc[0]['courses']

'mathematics'

In [55]:
#Transpose of the data
data.T

                            un1         un2             un3
Dept_prof_number             15           9              12
Number_of_required           12          11              15
courses             mathematics  statistics  data_analytics

In [56]:
#Drop data
data.drop('un1')

     Dept_prof_number  Number_of_required         courses
un2                 9                  11      statistics
un3                12                  15  data_analytics

In [57]:
#Drop didn't drop data row completely 
data

     Dept_prof_number  Number_of_required         courses
un1                15                  12     mathematics
un2                 9                  11      statistics
un3                12                  15  data_analytics

In [58]:
data_copy = data.copy()
data_1 = data_copy.drop('un1')
data_1

     Dept_prof_number  Number_of_required         courses
un2                 9                  11      statistics
un3                12                  15  data_analytics

In [59]:
#What if we want to deleted column
#deleted works on copy data and not view only. it delete data
del data_1['courses']
data

     Dept_prof_number  Number_of_required         courses
un1                15                  12     mathematics
un2                 9                  11      statistics
un3                12                  15  data_analytics

In [60]:
file='C:/Users/chink/Google Drive/Computational Statistics/3rd Quater/Statistical learning with R/Homework/default of credit card clients.xls'
import pandas as pd 
data2 = pd.read_excel(file)
data2

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
5,6,50000,1,1,2,37,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
6,7,500000,1,1,2,29,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
7,8,100000,2,2,2,23,0,-1,-1,0,...,221,-159,567,380,601,0,581,1687,1542,0
8,9,140000,2,3,1,28,0,0,2,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
9,10,20000,1,3,2,35,-2,-2,-2,-2,...,0,13007,13912,0,0,0,13007,1122,0,0
10,11,200000,2,3,2,34,0,0,2,0,...,2513,1828,3731,2306,12,50,300,3738,66,0
11,12,260000,2,1,2,51,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
12,13,630000,2,2,2,41,-1,0,-1,-1,...,6500,6500,2870,1000,6500,6500,6500,2870,0,0
13,14,70000,1,2,2,30,1,2,2,0,...,66782,36137,36894,3200,0,3000,3000,1500,0,1
14,15,250000,1,1,2,29,0,0,0,0,...,59696,56875,55512,3000,3000,3000,3000,3000,3000,0
15,16,50000,2,3,3,23,1,2,0,0,...,28771,29531,30211,0,1500,1100,1200,1300,1100,0
16,17,20000,1,1,2,24,0,0,2,2,...,18338,17905,19104,3200,0,1500,0,1650,0,1
17,18,320000,1,1,1,49,0,0,0,-1,...,70074,5856,195599,10358,10000,75940,20000,195599,50000,0
18,19,360000,2,1,1,49,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
19,20,180000,2,1,2,29,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
20,21,130000,2,3,2,39,0,0,0,0,...,20616,11802,930,3000,1537,1000,2000,930,33764,0
21,22,120000,2,2,1,39,-1,-1,-1,-1,...,0,632,316,316,316,0,632,316,0,1
22,23,70000,2,2,2,26,2,0,0,2,...,44006,46905,46012,2007,3582,0,3601,0,1820,1
23,24,450000,2,1,1,40,-2,-2,-2,-2,...,560,0,0,19428,1473,560,0,0,1128,1
24,25,90000,1,1,2,23,0,0,0,-1,...,5398,6360,8292,5757,0,5398,1200,2045,2000,0
25,26,50000,1,3,2,23,0,0,0,0,...,28967,29829,30046,1973,1426,1001,1432,1062,997,0
26,27,60000,1,1,2,27,1,-2,-1,-1,...,-57,127,-189,0,1000,0,500,0,1000,1
27,28,50000,2,3,2,30,0,0,0,0,...,17878,18931,19617,1300,1300,1000,1500,1000,1012,0
28,29,50000,2,3,1,47,-1,-1,-1,-1,...,2040,30430,257,3415,3421,2044,30430,257,0,0
29,30,50000,1,1,2,26,0,0,0,0,...,17907,18375,11400,1500,1500,1000,1000,1600,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,29971,360000,1,1,1,34,-1,-1,-1,0,...,49005,8676,19487,52951,64535,8907,53,19584,16080,0
29971,29972,80000,1,3,1,36,0,0,0,0,...,69674,71070,73612,2395,2500,2530,2556,3700,3000,0
29972,29973,190000,1,1,1,37,0,0,0,0,...,29223,19616,148482,2000,3869,25128,10115,148482,4800,0
29973,29974,230000,1,2,1,35,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
29974,29975,50000,1,2,1,37,1,2,2,2,...,2846,1585,1324,0,3000,0,0,1000,1000,1
29975,29976,220000,1,2,1,41,0,0,-1,-1,...,5924,1759,1824,8840,6643,5924,1759,1824,7022,0
29976,29977,40000,1,2,2,47,2,2,3,2,...,51259,47151,46934,4000,0,2000,0,3520,0,1
29977,29978,420000,1,1,2,34,0,0,0,0,...,141695,144839,147954,7000,7000,5500,5500,5600,5000,0
29978,29979,310000,1,2,1,39,0,0,0,0,...,219409,216540,210675,10029,9218,10029,8049,8040,10059,0
29979,29980,180000,1,1,1,32,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29980,29981,50000,1,3,2,42,0,0,0,0,...,50360,19971,19694,10000,4000,5000,3000,4500,2000,0
29981,29982,50000,1,2,1,44,1,2,2,2,...,28192,22676,14647,2300,1700,0,517,503,585,0
29982,29983,90000,1,2,1,36,0,0,0,0,...,11328,12036,14329,1500,1500,1500,1200,2500,0,1
29983,29984,20000,1,2,1,44,-2,-2,-2,-2,...,2882,9235,1719,2890,2720,2890,9263,1824,1701,0
29984,29985,30000,1,2,2,38,-1,-1,-2,-1,...,1993,1907,3319,923,2977,1999,3057,3319,1000,0
29985,29986,240000,1,1,2,30,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29986,29987,360000,1,1,2,35,-1,-1,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29987,29988,130000,1,1,2,34,0,0,0,0,...,108047,93708,97353,3000,2000,93000,4000,5027,4005,0
29988,29989,250000,1,1,1,34,0,0,0,0,...,245750,175005,179687,65000,8800,9011,6000,7000,6009,0
29989,29990,150000,1,1,2,35,-1,-1,-1,-1,...,780,0,0,9054,0,783,0,0,0,0
29990,29991,140000,1,2,1,41,0,0,0,0,...,138262,49675,46121,6000,7000,4228,1505,2000,2000,0
29991,29992,210000,1,2,1,34,3,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,1
29992,29993,10000,1,3,1,43,0,0,0,-2,...,0,0,0,2000,0,0,0,0,0,0
29993,29994,100000,1,1,2,38,0,-1,-1,0,...,70626,69473,55004,2000,111784,4000,3000,2000,2000,0
29994,29995,80000,1,2,2,34,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [61]:
data2['SEX']

0        2
1        2
2        2
3        2
4        1
5        1
6        1
7        2
8        2
9        1
10       2
11       2
12       2
13       1
14       1
15       2
16       1
17       1
18       2
19       2
20       2
21       2
22       2
23       2
24       1
25       1
26       1
27       2
28       2
29       1
        ..
29970    1
29971    1
29972    1
29973    1
29974    1
29975    1
29976    1
29977    1
29978    1
29979    1
29980    1
29981    1
29982    1
29983    1
29984    1
29985    1
29986    1
29987    1
29988    1
29989    1
29990    1
29991    1
29992    1
29993    1
29994    1
29995    1
29996    1
29997    1
29998    1
29999    1
Name: SEX, dtype: int64

In [62]:
#Query1
data2[(data2['LIMIT_BAL'] >= 800000) & (data2['SEX'] == 1)]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
14919,14920,800000,1,2,1,53,-1,-1,-1,0,...,40814,12590,9339,11145,64657,131,247,9366,63482,0
18006,18007,800000,1,1,2,46,-2,-2,-2,-1,...,6193,1957,3175,4644,3832,6219,1961,3183,27201,0

In [63]:
#Query2
data2[(data2['AGE'] > 50) & (data2['SEX'] == 1) & (data2['EDUCATION'] == 2)]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
66,67,10000,1,2,1,56,2,2,2,0,...,4062,4196,4326,2300,0,150,200,200,160,1
128,129,50000,1,2,1,51,0,0,0,0,...,5347,6375,7077,1000,1066,1300,1500,1200,134,1
328,329,340000,1,2,1,55,-2,-1,-1,-2,...,2190,24599,7416,44665,8321,2190,24599,7416,77195,0
734,735,110000,1,2,1,57,0,0,0,0,...,40659,38529,30900,2306,2111,3009,1725,1500,0,0
755,756,230000,1,2,2,58,0,0,0,0,...,116400,45643,51083,5600,5700,5000,1855,6400,0,0
947,948,50000,1,2,1,59,0,0,0,0,...,18990,19539,19791,2169,2210,680,855,726,687,0
1054,1055,230000,1,2,1,53,2,2,-2,-2,...,0,0,470,0,0,0,0,470,0,0
1108,1109,80000,1,2,1,54,0,0,0,0,...,30286,29898,30364,4000,3500,1100,1100,1200,1000,1
1149,1150,50000,1,2,1,52,-1,2,0,0,...,2721,780,0,0,2000,5,0,0,0,0
1235,1236,30000,1,2,2,54,0,0,0,0,...,26400,25620,390,1700,3400,2528,0,390,780,1
1238,1239,120000,1,2,1,57,0,0,0,0,...,88557,91124,88094,5000,5007,4000,4003,4003,4000,1
1324,1325,110000,1,2,1,51,0,0,0,0,...,49339,50542,52689,2000,2000,2000,2000,3000,2000,0
1433,1434,20000,1,2,2,52,0,0,0,0,...,19940,19940,0,2000,2000,0,0,0,0,0
1438,1439,50000,1,2,2,54,1,2,0,0,...,27585,27910,27380,0,1400,1200,1500,1000,1500,0
1452,1453,50000,1,2,1,54,-2,-2,-2,-2,...,2025,0,1924,2134,0,2025,0,1924,0,0
1670,1671,50000,1,2,1,51,0,0,0,0,...,20661,14528,15544,3036,6000,1000,2000,2500,3000,0
1711,1712,310000,1,2,1,64,-1,-1,-1,0,...,10130,7958,0,0,10124,6,7958,0,0,0
1770,1771,360000,1,2,1,56,-1,-1,-1,-1,...,291,951,2941,1236,3537,291,951,2941,291,0
1785,1786,220000,1,2,1,60,-1,-1,-1,-1,...,7161,1534,11248,1606,6978,7196,1541,11304,483,1
1811,1812,50000,1,2,2,53,0,0,0,0,...,20017,20146,20221,1329,1310,680,705,728,690,0
1846,1847,50000,1,2,3,53,0,0,0,0,...,18877,18985,18184,1500,1500,1000,800,2000,1000,0
2054,2055,50000,1,2,1,55,0,0,0,0,...,20238,18646,19034,2100,1305,1201,663,684,652,0
2077,2078,150000,1,2,1,55,1,2,2,0,...,77688,79440,81126,3800,0,2800,3000,3000,3200,1
2134,2135,160000,1,2,1,66,2,2,2,2,...,71739,73090,74490,3400,3000,2600,2600,2700,2800,1
2152,2153,70000,1,2,2,51,0,0,0,0,...,29171,17725,17693,3028,3199,1267,642,651,1665,0
2172,2173,50000,1,2,1,53,0,0,0,0,...,18685,19076,19466,1948,1835,669,692,707,695,0
2218,2219,50000,1,2,2,58,4,3,2,2,...,8086,8263,9533,300,300,300,293,1400,400,1
2444,2445,50000,1,2,1,54,0,0,0,2,...,19321,19867,20384,2000,2456,0,1000,1000,1000,0
2568,2569,10000,1,2,2,54,0,0,2,2,...,7963,8134,9995,3300,300,0,299,2000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27511,27512,20000,1,2,1,55,0,0,2,0,...,13392,14938,14557,2750,0,1231,1777,0,4859,1
27516,27517,20000,1,2,1,55,0,0,0,0,...,27843,19352,19938,1300,1302,1320,1137,1000,510,0
27518,27519,240000,1,2,2,67,0,0,0,0,...,468202,442401,419209,20225,17389,80167,15167,16000,13133,0
27519,27520,460000,1,2,1,52,0,0,0,0,...,171579,163450,160547,8000,9000,8154,6000,6000,6000,0
27521,27522,20000,1,2,2,56,0,0,2,2,...,19094,12393,13037,3000,1000,1500,0,1000,1000,0
27523,27524,200000,1,2,1,51,2,-1,-1,-1,...,0,1261,-1261,2522,1261,0,1261,0,5242,1
27525,27526,130000,1,2,2,54,0,0,0,0,...,-440,-240,-240,2419,1000,0,200,0,0,0
27526,27527,30000,1,2,3,53,1,-2,-1,2,...,3825,3825,0,0,4070,0,0,0,0,1
27527,27528,110000,1,2,1,51,0,0,0,0,...,104353,48308,49693,1972,3000,49000,1569,2000,2000,1
27528,27529,360000,1,2,1,51,-1,-1,-1,-1,...,18602,20461,33404,10575,7685,18610,8000,21004,0,0
27529,27530,50000,1,2,1,56,1,2,2,0,...,36828,19361,19780,3739,28,1502,670,708,681,0
27533,27534,450000,1,2,1,55,2,2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
27534,27535,50000,1,2,1,56,0,0,0,-1,...,602,712,822,2966,1000,602,500,500,500,0
27537,27538,20000,1,2,3,53,0,0,0,0,...,17650,18003,18390,1318,1298,1260,613,645,732,0
27544,27545,20000,1,2,1,62,1,2,2,0,...,18659,19035,20236,1612,0,1289,665,1491,0,0
27547,27548,490000,1,2,1,51,1,-2,-1,2,...,282,28688,26302,0,7504,0,28606,0,2499,1
27550,27551,50000,1,2,2,54,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
27552,27553,330000,1,2,1,52,0,0,0,0,...,178468,181544,184338,6199,6386,6435,7000,6688,6688,0
27554,27555,40000,1,2,1,55,1,-2,-2,-2,...,-1320,-1710,-2100,0,0,0,0,0,0,1
27556,27557,80000,1,2,2,59,2,2,2,2,...,31133,24135,22970,5500,13,4000,5,2005,2005,1
27563,27564,130000,1,2,2,56,0,0,0,0,...,116357,96936,98173,4000,5000,8000,4000,4000,5000,0
27566,27567,100000,1,2,1,52,1,2,2,2,...,18019,17501,18786,2000,0,2100,0,1500,0,0
27568,27569,210000,1,2,1,53,1,-1,2,-1,...,1683,0,1986,3392,2,1683,0,1986,1188,0
27569,27570,340000,1,2,1,53,0,0,0,0,...,304706,250216,253526,12604,14000,11000,9000,10000,30000,1
27571,27572,20000,1,2,1,52,-2,-2,-2,-2,...,1590,2359,2780,2990,790,1590,2359,2780,1200,0
27575,27576,530000,1,2,1,54,-2,-2,-2,-2,...,390,166210,129716,0,1200,390,166210,6000,3000,0
27578,27579,30000,1,2,2,60,0,0,0,0,...,26614,26948,14648,1398,1527,1430,764,530,655,0
27582,27583,200000,1,2,1,58,-1,2,2,-2,...,200,18370,53276,151,200,0,18370,53276,30000,0
27584,27585,110000,1,2,2,51,0,0,0,0,...,28858,29541,27977,1400,1500,1400,1000,1000,760,1
27590,27591,300000,1,2,1,55,0,0,0,0,...,74371,75854,77440,2552,2645,2696,2716,2809,2826,0

In [64]:
#Query3
data2[(data2['AGE'] > 50) | (data2['SEX'] == 1) & (data2['EDUCATION'] == 2)]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
11,12,260000,2,1,2,51,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
13,14,70000,1,2,2,30,1,2,2,0,...,66782,36137,36894,3200,0,3000,3000,1500,0,1
31,32,50000,1,2,2,33,2,0,0,0,...,22734,23217,23680,1718,1500,1000,1000,1000,716,1
33,34,500000,2,2,1,54,-2,-2,-2,-2,...,7521,71439,8981,4152,22827,7521,71439,981,51582,0
34,35,500000,1,1,1,58,-2,-2,-2,-2,...,3180,0,5293,5006,31178,3180,0,5293,768,0
36,37,280000,1,2,1,40,0,0,0,0,...,170410,173901,177413,8026,8060,6300,6400,6400,6737,0
42,43,10000,1,2,2,22,0,0,0,0,...,3576,3670,4451,1500,2927,1000,300,1000,500,0
48,49,380000,1,2,2,32,-1,-1,-1,-1,...,32018,11849,11873,21540,15138,24677,11851,11875,8251,0
61,62,70000,1,2,1,39,0,0,0,0,...,16518,14096,830,4025,2095,1000,2000,3000,0,0
64,65,130000,2,2,1,51,-1,-1,-2,-2,...,0,2353,0,0,0,0,2353,0,0,0
65,66,200000,1,1,1,57,-2,-2,-2,-1,...,8174,8198,7918,0,0,8222,300,0,1000,1
66,67,10000,1,2,1,56,2,2,2,0,...,4062,4196,4326,2300,0,150,200,200,160,1
71,72,320000,1,2,2,29,2,2,2,2,...,58622,62307,63526,2500,2500,0,4800,2400,1600,1
75,76,20000,1,2,2,24,0,0,2,0,...,16976,17332,18543,2850,0,610,630,1500,0,0
85,86,160000,1,2,2,33,0,0,0,0,...,118418,118407,120418,4400,3547,80000,4500,4800,4500,0
90,91,200000,1,1,1,53,2,2,2,2,...,144098,147124,149531,6300,5500,5500,5500,5000,5000,1
95,96,90000,1,2,2,35,0,0,0,0,...,35565,30942,30835,3621,3597,1179,1112,1104,1143,0
99,100,20000,1,2,1,38,0,0,0,0,...,18240,17928,150,1699,1460,626,1750,150,0,1
102,103,480000,1,1,1,63,0,0,0,2,...,487066,471145,469961,16078,55693,17000,0,18000,24200,0
107,108,350000,1,1,2,52,-1,-1,-1,-1,...,867,1150,5263,2272,722,867,1150,5263,5011,0
108,109,130000,1,2,2,38,0,0,0,-1,...,120483,44127,126568,10908,0,133657,4566,133841,4796,0
109,110,360000,1,2,1,35,1,-2,-2,-2,...,-103,-103,-103,0,0,0,0,0,0,0
112,113,280000,1,2,1,41,2,2,2,2,...,144401,152174,149415,6500,0,14254,14850,0,5000,0
114,115,50000,1,2,2,41,0,0,0,0,...,20274,20311,19957,1340,1305,700,718,724,684,0
117,118,80000,1,2,2,26,2,0,0,0,...,17055,17629,18186,2000,1700,1000,1000,1000,1000,1
118,119,400000,1,2,1,34,-1,-1,-1,-1,...,7839,14837,7959,9677,11867,7839,14837,7959,5712,0
125,126,20000,1,2,2,23,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
126,127,200000,1,3,2,52,0,0,0,0,...,100914,103146,104993,3568,3585,3602,3848,3669,3784,0
128,129,50000,1,2,1,51,0,0,0,0,...,5347,6375,7077,1000,1066,1300,1500,1200,134,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29935,29936,50000,1,2,1,48,0,0,0,-1,...,49161,6690,5665,46895,1775,51209,428,5665,8745,1
29938,29939,30000,1,2,2,38,2,2,2,2,...,21471,21598,23241,1700,1700,0,782,2000,1100,0
29940,29941,20000,1,2,1,48,1,2,0,0,...,18928,18761,18787,2,2019,11309,2000,700,1002,0
29941,29942,50000,1,2,2,45,0,0,0,0,...,22574,20483,20121,1314,1340,5000,0,729,793,0
29943,29944,500000,1,2,2,38,0,0,0,0,...,12058,14692,8274,12160,6056,3063,14725,206,9363,0
29944,29945,80000,1,2,2,39,3,2,0,0,...,23867,23130,0,0,2968,1867,463,0,0,1
29945,29946,30000,1,2,1,42,0,0,0,0,...,28572,9072,0,1656,3000,1000,500,0,0,0
29952,29953,210000,1,2,2,30,-1,-1,-1,-1,...,1252,626,626,3980,7509,1252,0,626,626,0
29954,29955,180000,1,2,2,30,0,0,0,0,...,14834,1415,47417,2124,1588,1526,66,57317,70052,0
29957,29958,500000,1,2,2,31,0,0,-1,0,...,278725,89161,87863,6025,294318,10254,7524,5009,2333,0
29960,29961,10000,1,2,1,29,0,0,0,0,...,5163,780,0,3009,2000,2009,0,0,0,0
29962,29963,50000,1,2,2,30,1,-1,2,-1,...,7300,0,0,528,0,7300,0,0,0,0
29965,29966,140000,1,2,1,32,0,0,0,0,...,137450,135638,136375,6300,6500,6300,6000,5200,5000,0
29967,29968,50000,1,2,1,32,0,0,0,-1,...,50551,40590,39384,2686,0,50551,0,1600,1500,0
29968,29969,20000,1,2,2,34,0,0,0,0,...,13478,16978,12914,2000,2000,1000,5000,12914,600,0
29969,29970,200000,1,2,1,33,0,0,0,0,...,56768,58826,67577,5000,2183,2059,3000,9751,3000,0
29973,29974,230000,1,2,1,35,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
29974,29975,50000,1,2,1,37,1,2,2,2,...,2846,1585,1324,0,3000,0,0,1000,1000,1
29975,29976,220000,1,2,1,41,0,0,-1,-1,...,5924,1759,1824,8840,6643,5924,1759,1824,7022,0
29976,29977,40000,1,2,2,47,2,2,3,2,...,51259,47151,46934,4000,0,2000,0,3520,0,1
29978,29979,310000,1,2,1,39,0,0,0,0,...,219409,216540,210675,10029,9218,10029,8049,8040,10059,0
29981,29982,50000,1,2,1,44,1,2,2,2,...,28192,22676,14647,2300,1700,0,517,503,585,0
29982,29983,90000,1,2,1,36,0,0,0,0,...,11328,12036,14329,1500,1500,1500,1200,2500,0,1
29983,29984,20000,1,2,1,44,-2,-2,-2,-2,...,2882,9235,1719,2890,2720,2890,9263,1824,1701,0
29984,29985,30000,1,2,2,38,-1,-1,-2,-1,...,1993,1907,3319,923,2977,1999,3057,3319,1000,0
29990,29991,140000,1,2,1,41,0,0,0,0,...,138262,49675,46121,6000,7000,4228,1505,2000,2000,0
29991,29992,210000,1,2,1,34,3,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,1
29994,29995,80000,1,2,2,34,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [65]:
#Query3
data2['SEX'].unique()

array([2, 1], dtype=int64)

In [66]:
#Setting new index
data2 = data2.set_index(['SEX'])
data2.head()

,ID,LIMIT_BAL,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
SEX,,,,,,,,,,,,,,,,,,,,,
2,1,20000,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
2,4,50000,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
1,5,50000,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [67]:
data2 = data2.fillna(method='ffill')
data2.head()

,ID,LIMIT_BAL,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
SEX,,,,,,,,,,,,,,,,,,,,,
2,1,20000,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
2,4,50000,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
1,5,50000,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0